@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5fr 3fr;
}

#MainTextSpace {
    display: flex;
    justify-content: center;
    align-items: center;
}

#InputPanelSpace {
    display: flex;
    justify-content: center;
    align-items: center;
}