@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, main {
    @include HeightAndWidth(100%);
}

main {
    display: grid;
    grid-template-rows: 5fr 3fr;
    background-color: $InputPanelBackgroundColor;
}

#MainTextSpace, #InputPanelSpace {
    @include FlexCener;
}