@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap');

#MainText {
    display: flex;
    flex-direction: column; 
    font-family: "Source Code Pro";
}

span {
    font-size: 72px;
}

#TypeWriter {
    position: relative;
    font-family: "Source Code Pro";

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::before {
        background-color: white;
        animation: typewriter 3s steps(7) forwards,
        typewriterback 3s steps(7) forwards;
        animation-delay: 0s, 4s;
    }

    &::after {
        width: 0.125em;
        background-color: black;
        animation: typewriter 3s steps(7) forwards,
        typewriterback 3s steps(7) forwards,
        blink 750ms steps(7) infinite;
        animation-delay: 0s, 4s, 0s;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes typewriterback {
    to {
        left: 0%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}