@import './variables.scss';

#NewUrl {
    height: 8vh;
    width: 50vw;
    position: absolute;
    top: 50vh;
    left: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $borderRadius;
    background-color: rgb(18, 18, 18);
    color: white;
    border: 3px solid grey;
    font-family: "Sora";
    font-weight: 300;

    span {
        width: 90%;
        font-size: 36px;
        padding-left: 10px;
    }

    #CopyIcon {
        width: 10%;
        position: relative;

        #clipboard {
            width: 30px;
            height: 35px;
            cursor: pointer;
        }

        #close {
            position: absolute;
            top: -15px;
            right: 5px;
            height: 20px;
            cursor: pointer;
        }

        #CopiedAlert {
            position: absolute;
            top: -60px;
            left: -30px;
            height: 30px;
            border: 2px solid grey;
            border-radius: $borderRadius;
            text-align: center;
            padding-top: 2px;            

            span {
                font-size: 16px;
                padding-right: 10px;
            }
        }
    }
}