@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap');

#InputPanel {
    width: 80%;
    height: 5vh;
    min-height: 40px;
    @include FlexJustify(space-between);
    padding: 5px;
    background-color: rgb(18, 18, 18);
    border: 1px solid grey;
    border-radius: $borderRadius;
}

.wrong-url {
    animation: wrongUrlAnimation 1s forwards;
  
    input {
  
      &::placeholder {
            color: red;
        }
    }
}

input {
    width: 80%;
    height: 90%;
    padding-left: 25px;
    border: none;
    border-radius: $borderRadius;
    outline: none;
    background-color: $InputPanelBackgroundColor;
    color: white;
    font-size: 120%;
    font-family: "Sora";

    @media (max-width: $MediumWidthResolution) {
        padding-left: 5px;
        font-size: 20px;
    }

    @media (max-width: $MediumWidthResolution) {
        font-size: 14px;
    }
}

button {
    width: 10%;
    height: 90%;
    border: none;
    border-radius: $borderRadius;
    background-color: $ButtonBackGroundColor;
    color: white;
    font-family: "Sora";
    cursor: pointer;

    @media (max-width: $MediumWidthResolution) {
        width: 20%;
    }

    @media (max-width: $SmallWidthResolution) {
        font-size: 11px;
    }
}

@keyframes wrongUrlAnimation {
    20% {
      transform: translateX(3vw);
    }
    35% {
      transform: translateX(-3vw);
    }
    45% {
      transform: translateX(3vw);
    }
    60% {
      transform: translateX(-3vw);
    }
    75% {
      transform: translateX(3vw);
    }
    90% {
      transform: translateX(0);
    }
  }