@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap');

:root {
    --steps: 7;
}

#MainText {
    display: flex;
    flex-direction: column; 
    font-family: "Source Code Pro";
}

span {
    font-size: 72px;
    color: white;
}

#TypeWriter {
    position: relative;
    font-family: "Source Code Pro";

    // &::before,
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    // }

    // &::before {
    //     @include HeightAndWidth(100%);
    //     background-color: $InputPanelBackgroundColor;
    //     border-left: 0.125em solid white;
    //     animation: typewriter 5s steps(var(--steps)) infinite;
    // }
}

@keyframes typewriter {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}