@import './variables.scss';

#NewUrl {
    width: 50vw;
    height: 8vh;
    min-width: 250px;
    min-height: 70px;
    position: absolute;
    top: 50vh;
    left: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid grey;
    border-radius: $borderRadius;
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: "Sora";
    font-weight: 300;

    @media (max-width: 475px) {
        left: 19%;
        right: 19%;
    }

    span {
        width: 90%;
        padding-left: 10px;
        font-size: 36px;

        @media (max-width: $SmallScreenWidthResolution) {
            font-size: 26px;
        }

        @media (max-width: $MediumWidthResolution) {
            font-size: 20px;
        }
    
        @media (max-width: $SmallWidthResolution) {
            font-size: 15px;
        }
    }

    #CopyIcon {
        width: 10%;
        position: relative;

        @media (max-width: $SmallWidthResolution) {
            margin-right: 10px;
        }

        #clipboard {
            width: 30px;
            height: 35px;
            cursor: pointer;

            @media (max-width: $MediumWidthResolution) {
                height: 20px;
                padding-right: 10px;
            }
        
            @media (max-width: $SmallWidthResolution) {
                height: 18px;
                padding-right: 10px;
            }
        }

        #close {
            height: 20px;
            position: absolute;
            top: -15px;
            right: 5px;
            cursor: pointer;

            @media (max-width: $MediumWidthResolution) {
                height: 16px;
                top: -16px
            }
        
            @media (max-width: $SmallWidthResolution) {
                right: -5px;
                top: -18px;
                font-size: 12px;
            }
        }

        #CopiedAlert {
            height: 30px;
            position: absolute;
            top: -60px;
            left: -27px;
            text-align: center;
            padding-top: 2px;            
            border: 2px solid grey;
            border-radius: $borderRadius;

            @media (max-width: $MediumWidthResolution) {
                left: -33px
            }
        
            @media (max-width: $SmallWidthResolution) {
                left: -22px;
                padding-top: 6px;
                font-size: 11px;
            }

            span {
                padding-right: 10px;
                font-size: 16px;

                @media (max-width: $MediumWidthResolution) {
                    font-size: 14px;
                }
            
                @media (max-width: $SmallWidthResolution) {
                    font-size: 11px;
                }
            }
        }
    }
}