$InputPanelBackgroundColor: rgb(18, 18, 18);
$ButtonBackGroundColor: rgb(10, 191, 80);
$borderRadius: 10px;

$MediumWidthResolution: 800px;
$SmallWidthResolution: 600px;
$SmallScreenWidthResolution: 1000px;

@mixin HeightAndWidth($value) {
    height: $value;
    width: $value;
}

@mixin FlexCener {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap');